*{
    margin:0px;
    background-color:black;
    color:white;
}
.moviePic{
    display: block;
    margin: auto;
    height: 100%;
    width: 70%;
    opacity: 1;
}
.moviePic:hover{
    width: 80%;
    height:110%
}
.movieDetail{
    text-align:justify;
    font-size:medium;
    position: relative;
    top: 10px;
    width: 90%;
}
#photo{
    top: 0px;
    width: 100vw;
    height: 30vw;
}
#about{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
}
#rate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 200, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 0px;
}
#rating{
    width: 30%;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
    box-sizing: border-box;
}

#details{
    margin-top: 10px;
    margin-left: 5px;
    display:block;
	margin-bottom:100px;
}
#details>button{
    width: 20%;
    background-color: rgb(89, 122, 151);
}
#details>button:hover{
    background-color: rgb(1, 142, 48);
    border-color: aliceblue;
    font-size: larger;
}
#Rate_Button{
    width: 20%;
    border-width: 3px;
    text-align: center;
    padding: 5px;
    box-shadow: -5px 0px 10px rgb(141, 141, 141);
}

button{
    background-color: rgb(171, 36, 201);
    border-color: aliceblue;
}
button:hover{
    background-color: rgb(1, 142, 48);
    border-color: aliceblue;
    font-size: x-large;
}